<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
	<appSettings>
		<add key="oracleVer" value="value1" />
		<add key="schema" value="value2" />
		<add key="userID" value="value3" />
		<add key="memUserID" value="value4" />
	</appSettings>
</configuration>